extends layout
block content
  div(class="container-fluid")
    h1= title
  - let result=results  
    div(class="row")
      each form,index in result
        div(class = "col-sm-2 bg-success" onclick=`buy(${index})`) #{form.car_manufacturer}
        div(class = "col-sm-2 bg-success" onclick=`buy(${index})`) #{form.car_model}
        div(class = "col-sm-2 bg-success" onclick=`buy(${index})`) #{form.car_cost}
        hr
    script.     
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }
