extends layout

block content
  h1= title

  if(toShow == null)
    h2 No instance to delete
  else
    - let carid = toShow._id
    - let car_manufacturer = toShow.car_manufacturer
    - let car_model = toShow.car_model
    - let car_cost = toShow.car_cost
    - let actionid = "/resource/cars/" + carid
    script let actionid = "#{actionid}"
    div
     div.row 
      div(class='carAttr mr-3') Car ID is:
      div #{carid}
     div.row
      div(class='carAttr mr-3') Car manufacturer is:
      div #{car_manufacturer}
     div.row
      div(class='carAttr mr-3') Car Model is:
      div #{car_model}
     div.row
      div(class='carAttr mr-3') Car Price is:
      div #{car_cost}
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
  script.
   function cancel() {
    window.location.href='/cars'
    }
  script.
    function deleteOnid() {
     console.log("starting delete")
     fetch(actionid, {
      method: 'DELETE'
     }).then((resp) => {
        return resp.json();
     }).then((body) => {
        alert("Delete succeded")
        window.location.href='/car'
     }).catch((error) => {
        alert("Delete failed " + error )
     });
    }

    