extends layout

block content
  h1= title

  if(toShow == null)
    h2 No instance to update
  else
    - let carid = toShow._id
    - let car_manufacturer = toShow.car_manufacturer
    - let car_model = toShow.car_model
    - let car_cost = toShow.car_cost
    - let actionid = "/resource/cars/" + carid
    script let actionid = "#{actionid}"
    div.row(class='mb-2')
    div.mr-1 ID is 
      span(style="color:red")  #{carid}
    form(id='CarForm', action= actionid, method="PUT")
      div.form-group
      div(class="row g-3 align-items-center")
        div(class="col-1")
          label.carAttr(for='car_manufacturer',class="col-form-label") Car Manufacturer 
        div(class="col-auto")
          input#car_manufacturer(type='text', name='car_manufacturer',class="form-control", value=car_manufacturer)
      div.form-group
      div(class="row g-3 align-items-center")
        div(class="col-1")
          label.carAttr(for='car_model',class="col-form-label") Car Model 
        div(class="col-auto")
          input#car_model(type='text', name='car_model',class="form-control", value=car_model)
      div.form-group
      div(class="row g-3 align-items-center")
        div(class="col-1")
          label.carAttr(for='car_cost',class="col-form-label") Car cost
        div(class="col-auto")
          input#car_cost(type='number', name='car_cost',class="form-control", value=car_cost)
      input(class="btn btn-danger m-2" type="submit")
        //- button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
      button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
    
    script.
      document.forms['CarForm'].addEventListener('submit', (event) => {
       event.preventDefault();
      // TODO do something here to show user that form is being submitted
       fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
        alert("Update succeded")
        // TODO handle body
        }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error )
       });
      });